*{
	margin: 0;
	padding: 0;
}


body {
	margin: auto;
	width: 100%;
	height: 100%;
	background: #ffffff;
	font-family: "verdana", Sans-serif;
	/*text-transform: uppercase;*/
	max-width: 1600px;
	color: #434343;
}
/*#slide img{*/
/*    width: 100%;*/
/*    z-index: -6;*/
/*}*/
header {
	height:70px;
	padding: 40px 15px 1px 1px;
}
	
#logo {
    margin-left: 20px;
	float: left;
    margin: -30px 1px 10px 1px;
	}
	
nav {
	overflow: hidden;
	float: right;
}

nav li {
	float:left;
	list-style: none;
}
nav li a {
	margin: 40px 1px 1px 1px;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	padding: 0 15px;
	text-shadow: 0 1px 0 white;
	color: #434343;
}


#about {
    text-align: center;
    padding-bottom: 300px;
    padding-top: 200px;
    color: #434343;
}

article h2 {
	font-size: 24px;
	padding-bottom: 20px;
    padding-top: 20px;
    color: #434343;
}

article p {
	font-size: 20px;
}

/*div {*/
/*	display: inline-block;*/
/*}*/

div img:hover {
	box-shadow: 1px 1px 2px black, 0 0 25px grey;
	/*width: 71%;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

/*#children:hover {*/
/*	box-shadow: 1px 1px 2px black, 0 0 25px grey;*/
/*	width: 71%;*/
/*	display: flex;*/
/*	justify-content: center;*/
/*	align-items: center;*/
/*}*/

section {
	text-align: center;
    padding-bottom: 300px;
    padding-top: 300px;
}

section h2 {
	font-size: 48px;
	padding-bottom: 20px;
    padding-top: 20px;
    
}

section{
	display: flex;
}
section a {
	justify-content: center;
	align-items: center;
}

/*#contact img {*/
/*	width: 100%;*/
/*    z-index: -6;*/
/*}*/

/*#phone {*/
/*	display:flex;*/
/*    justify-content:center;*/
/*    align-items:center;*/
    
/*}*/

/*#number { */
/*	display:flex;*/
/*    justify-content:center;*/
/*    align-items:center;*/
	
/*}*/
/*#button {*/
/*	display:flex;*/
/*    justify-content:center;*/
/*    align-items:center;*/
    
/*}*/

