*{
	margin: 0;
	padding: 0;
}

body {
	margin: auto;
	width: 100%;
	height: 100%;
	background: #ffffff;
	font-family: "verdana", Sans-serif;
	/*text-transform: uppercase;*/
	/*max-width: 1600px;*/
	color: #434343;
}

header {
	height:70px;
	padding: 40px 15px 1px 1px;
}
	
#logo {
    margin-left: 20px;
	float: left;
    margin: -30px 1px 10px 1px;
	}
	
nav {
	overflow: hidden;
	float: right;
}

nav li {
	float:left;
	list-style: none;
}
nav li a {
	margin: 40px 1px 1px 1px;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	padding: 0 15px;
	text-shadow: 0 1px 0 white;
	color: #434343;
}


#about {
    text-align: center;
    padding-bottom: 370px;
    padding-top: 130px;
    color: #434343;
}

article h2 {
	font-size: 24px;
	padding-bottom: 20px;
    padding-top: 20px;
    color: #434343;
}

article p {
	font-size: 20px;
}


#port1 {
		padding-right: -15px;
    padding-left: -15px;
	
}
#port2 {
	padding-right: -15px;
    padding-left: -15px;
}
#port3 {
		padding-right: -15px;
    padding-left: -15px;
}
#port4 {
	padding-right: -15px;
    padding-left: -15px;
}
#port5 {
	padding-right: -15px;
    padding-left: -15px;
}
#port6 {
		padding-right: -15px;
    padding-left: -15px;
}
#port7 {
		padding-right: -15px;
    padding-left: -15px;
}
#port8 {
		padding-right: -15px;
    padding-left: -15px;
}

#shadow img:hover {
	box-shadow: 1px 1px 2px #222222, 2px 2px 3px #383838, 0 0 20px #383838;
	
}


section {
	text-align: center;
    padding-bottom: 300px;
    padding-top: 300px;
}

section h2 {
	font-size: 36px;
	padding-bottom: 20px;
    padding-top: 20px;
    color: #434343;
}

.col-5 img:hover {
	box-shadow: 1px 1px 2px #222222, 2px 2px 3px #383838, 0 0 20px #383838;
}
#a1 {
	margin: 15px 15px 15px 15px;
}
#a2 {
	margin: 15px 15px 15px 15px;
}
#a3 {
	margin: 15px 15px 15px 15px;
}
#a4 {
	margin: 15px 15px 15px 15px;
}

/*.sent {*/
/*	display:flex;*/
/*    justify-content:space-around;*/
/*    align-items:center;*/
/*    flex-direction: column;*/
    
/*}*/
/*.sent h2 { */
/*	text-align: center;*/
/*	font-size: 36px;*/
/*	font-weight: bold;*/
/*	padding-bottom: 20px;*/
/*    padding-top: 70px;*/
/*    color: #434343;*/
/*}*/

/*.sent p {*/
/*	text-align: center;*/
/*	font-size: 20px;*/
/*    color: #434343;*/
/*}*/


#msg {
	font-size: 24px;
	color: #434343;
	border: 1px solid green;
}

#buttons {
	display:flex;
    justify-content:center;
    align-items:center;
    margin-top: -8%;
}

#submit {
	display:flex;
    justify-content:flex-end;
    align-items:center;
}

modal fade
/*.modal-content {*/
/*	background-color: #d8c2e0;*/
/*}*/

/*.modal-header {*/
/*	background-color: #bb4fe3;	*/
/*}*/
